html
    head
        title Deus' Cubing Algorithms
        link(rel='stylesheet' type='text/css' href='css/style.css')
        script(src='main.js')
body.bg-light
    .content.container
        h1 Deus' Cubing Algorithms
        p This page will show the algorithms I use and teach to solve twisty puzzles. More infos can be found here at #[a(href='https://speedcube.de') speedcube.de], especially the #[a(href='https://speedcube.de/notation.php') notation].
        each step, stepIndex in data.steps
            h2= step.name
            each group, groupIndex in step.algorithmGroups
                h3= group.name
                each algorithm, algorithmIndex in group.algorithms
                    .row.py-3
                        .cubeVis(id=`${stepIndex}-${groupIndex}-${algorithmIndex}`)
                        p.my-auto.mx-3= algorithm.algorithm
