html
    include partials/head.pug
body.bg-light
    include partials/navbar.pug
    .content.container
        p This page shows special algorithms I use to solve twisty puzzles. More infos can be found here at #[a(href='https://speedcube.de') speedcube.de], especially the #[a(href='https://speedcube.de/notation.php') notation].
        each step, stepIndex in data.steps
            h2= step.name
            .row
                each group, groupIndex in step.algorithmGroups
                    each algorithm, algorithmIndex in group.algorithms
                        if algorithm.beginner
                            -let id = `${stepIndex}-${groupIndex}-${algorithmIndex}`
                            .col-md-6
                                .row.p-3(id=`${id}`)
                                    .cubeVis(id=`cubeVis-${id}`)
                                        include partials/cubeAnnotation.pug
                                    p.my-auto.mx-0.col= algorithm.algorithm
