extends layout.pug

block content
    #algorithms.content.container
        p This page shows the algorithms I use to solve twisty puzzles. More infos can be found here at #[a(href='https://speedcube.de') speedcube.de], especially the #[a(href='https://speedcube.de/notation.php') notation].
        each step, stepIndex in data.steps
            h2= step.name
            each group, groupIndex in step.algorithmGroups
                h3= group.name
                .row
                    each algorithm, algorithmIndex in group.algorithms
                        -let id = `${stepIndex}-${groupIndex}-${algorithmIndex}`
                        .col-lg-4.col-md-6
                            .row.p-3(id=`${id}`)
                                .cubeVis(id=`cubeVis-${id}`)
                                    include partials/cubeAnnotation.pug
                                p.my-auto.mx-1.col= algorithm.algorithm
